
/* Header text and color */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Header text */
h1 {
    font-family: 'Creepster', cursive; 
}

/* Space between nav-bar and header text */
.navbar {
    margin-bottom: 30px;
}

/* Background color */
body {
    background-color: #b4baca !important;
}

/* Information text (Our Story) */
.bold-text {
    font-weight: bold;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


/* Add space between email-link and "Find Us" */
.spacer {
    margin-bottom: 30px; /* Justera mellanrummet efter behov */
}

/* Apperance for map */
.map-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.map-container iframe {
    width: 100%; 
    height: 100%;
    border: none;
}

/* Bottom border */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
}