* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #b4baca, #d4d8dc);
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border-bottom: 3px solid #ff4500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.contact-form-wrapper .container {
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #ff4500;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #444;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

input:focus, select:focus, textarea:focus {
    border-color: #ff4500;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.5);
}

.button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #e03e00;
    transform: scale(1.05);
}

footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;
    border-top: 3px solid #ff4500;
    margin-top: auto;
}
