
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Creepster', cursive; 
}

.navbar {
    margin-bottom: 30px;
}

p {
    font-family:cursive;
    font-size: 20px;
}
body {
    background-image: url('../Images/main_back.jpg');
    background-size: cover;
    background-position: center;  
}

.rotate-img{
    animation: rotateMoveGrowLogo 7s ease-in-out forwards;
}

@keyframes rotateMoveGrowLogo{
    0% {
        transform: rotate(0deg);
        transform: scale(0.1);
    }
    50% {
        transform: scale(1);
        transform: rotate(220deg);
        
    }
    100% {
        transform: rotate(185deg) translateY(+1.3cm);
}}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}