
/* Header text and color */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Header text */
h1 {
    font-family: 'Creepster', cursive; 
}

/* Space between nav-bar and header text */
.navbar {
    margin-bottom: 30px;
}

/* Background image */
body {
    background-image: url('../Images/main_back.jpg');
    background-size: cover;
    background-position: center;  
}

/* Main section text */
p {
    font-family:cursive;
    font-size: 20px;
}

/* Visit our Shop-button */
.custom-btn{
    background-color: #333 !important; /* Anpassad färg */
    color: white !important;
}

/* Spider animation */
.rotate-img{
    animation: growRotateMoveLogo 7s ease-in-out forwards;
}

@keyframes growRotateMoveLogo{
    0% {
        transform: rotate(0deg);
        transform: scale(0.1);
    }
    50% {
        transform: scale(1);
        transform: rotate(220deg);
        
    }
    100% {
        transform: rotate(186deg) translateY(+1.3cm);
}}

/* Bottom border */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}